<!--page_index.html-->

<!--Embed the partial_header.html template at this location-->
{{ template "partial_header.html" .}}

<!--Stats-->

<div class="container bg-light">
    <div class="accordion p-3" id="stats">
        <div class="accordion-item">
            <h2 class="accordion-header" id="statsheading">
                <button class="accordion-button text-dark" type="button" style="background-color: #ff7300"
                 data-toggle="collapse" data-target="#statcontent">
                    Top Stats
                </button>
            </h2>
            <div id="statcontent" class="accordion-collapse collapse show" aria-labelledby="statsheading"
                 data-parent="#stats">
                <div class="accordion-body">
                    <strong>This box will contain some basic stats on top chars etc for the past 7d rolling</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Killmails-->
<div class="container bg-light">
    {{ template "partial_killmail_list.html" .}}
</div>

<!--Embed the partial_footer.html template at this location-->
{{ template "partial_footer.html" .}}